---
import { ViewTransitions } from "astro:transitions";
import SearchBar from "../components/SearchBar.vue"

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Pokedex using the pokeapi." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.cdnfonts.com/css/pf-tempesta-five" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
		
	</head>
	<body class="w-screen h-screen flex flex-col bg-gradient-to-b from-blue-500 to-purple-300">
		<header class="navbar shadow-sm">
			<div class="flex-1">
			  <a class="btn btn-ghost text-xl" href="/">Pokedex</a>
			</div>
			<div class="flex" transition:persist>
				<SearchBar client:load/>
			</div>
		</header>
		<slot />		
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	
	@layer components{
		.card-active{
			@apply bg-orange-400
		}
	}
	body{
		font-family: 'PF Tempesta Five', sans-serif;
		font-family: 'PF Tempesta Five Extended', sans-serif;
		font-family: 'PF Tempesta Five Condensed', sans-serif;
		font-family: 'PF Tempesta Five Compressed', sans-serif;

	}

                                                

</style>
